<div class="footer">
        <div class="footerMessage">
                <p>Brogolem35 blog | <a href="">Site source</a></p>
        </div>
        <div class="social">
                <a href="https://github.com/Brogolem35" target="_blank"><img src="/images/icons/github.svg" alt="GitHub icon"/></a>
                <a href="https://www.youtube.com/@brogolem35" target="_blank"><img src="/images/icons/youtube.svg" alt="YouTube icon"/></a>
                <a href="/index.xml" target="_blank"><img src="/images/icons/rss.svg" alt="RSS icon"/></a>
        </div>
</div>